<!doctype html>

<html>
    <head> 
        {{ content_for_header }}
        <div style="width:100px; height:100px"></div>
    </head>
    <body> 
        <div style="width:100px; height:100px"></div>
        {{ content_for_layout }}
    </body>
</html>