<!doctype html>

<html>
    <head> 
        {{ content_for_header }}
        <div style="width:100px; height:100px"></div>
        <script>
            if (Shopify.designMode) {
              document.documentElement.classList.add('shopify-design-mode');
            }
        </script>
    </head>
    <body> 
        {% section 'custom-liquid' %}
        {% sections 'header-group' %}
        <main id=MainContent role="main">
            {{ content_for_layout }}
        </main>
        {% sections 'footer-group' %}
    </body>
</html>