<!doctype html>

<html>
    <head> 
        {{ content_for_header }}
        <script>if (Shopify.designMode) {document.documentElement.classList.add('shopify-design-mode');}</script>
    </head>
    <body> 
        {% sections 'header-group' %}
        <main id=MainContent role="main">
            {{ content_for_layout }}
            {% sections 'footer-group' %}
        </main>
        
    </body>
</html>