<!doctype html>

<html>
    <head> 
        {{ content_for_header }}
        <div style="width:100px; height:100px"></div>
    </head>
    <body> 
        {% sections 'header-group' %}
        <main id=MainContent role="main">
            {{ content_for_layout }}
        </main>
        {% sections 'footer-group' %}
    </body>
</html>