
<div >
  <div>
    {{ section.settings.custom_liquid }}
  </div>
</div>

{% schema %}
{
  "name": "Custom Liquid",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Custom Liquid"
    }
  ]
}
{% endschema %}
